trunk/08-cite-manager/schemas/citation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Dan McCreary (MINNESOTA DEPT. OF REVENUE) -->
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="cite">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="cite-type-code">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="web"/>
                     <xs:enumeration value="news"/>
                     <xs:enumeration value="book"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="cite-url" type="xs:anyURI"/>
            <xs:element name="cite-title" type="xs:string"/>
            <xs:element name="cite-accessdate" type="xs:date" minOccurs="0"/>
            <xs:element name="cite-author" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-last" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-first" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-authorlink" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="cite-coauthors" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-date" type="xs:date" minOccurs="0"/>
            <xs:element name="cite-partof-work" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-publisher" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-page-number" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="cite-pages-count" minOccurs="0"/>
            <xs:element name="cite-format-code" minOccurs="0">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="HTML"/>
                     <xs:enumeration value="PDF"/>
                     <xs:enumeration value="MS-Word"/>
                     <xs:enumeration value="MS-PowerPoint"/>
                     <xs:enumeration value="MS-Excel"/>
                     <xs:enumeration value="Other"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="cite-language" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-quote" type="xs:string" minOccurs="0"/>
            <xs:element name="cite-archiveurl" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="cite-archivedate" type="xs:date" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
